DB_HOST=localhost
DB_PORT=5432
DB_USER=verycooluser
DB_PASSWORD=verysecurepassword
DB_NAME=verycooldbname
DB_SSLMODE=disable
SESSION_TABLE=cooltablename
SESSION_IDLE_TIMEOUT=30m
SESSION_ABSOLUTE_TIMEOUT=24h
SESSION_COOKIE_SECURE=false
RESEND_API_KEY=apikey
MAIL_FROM=mailfrom